[submodule "submodules/bcrypt"]
	path = submodules/bcrypt
	url = https://github.com/rg3/bcrypt.git
[submodule "submodules/doctest"]
	path = submodules/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "submodules/clang-format"]
	path = submodules/clang-format
	url = https://github.com/CppPhil/clang-format.git
[submodule "submodules/philslib"]
	path = submodules/philslib
	url = https://github.com/CppPhil/philslib
